absl-py==2.1.0
accelerate==0.33.0
aiofiles==23.2.1
aiohappyeyeballs==2.3.6
aiohttp==3.10.3
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.4.0
async-timeout==4.0.3
attrs==24.2.0
certifi==2024.7.4
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contourpy==1.3.0
cycler==0.12.1
Cython==3.0.11
DataProperty==1.0.1
datasets==2.21.0
deepspeed==0.14.5
dill==0.3.8
docker-pycreds==0.4.0
docstring_parser==0.16
einops==0.8.0
emoji==2.12.1
evaluate==0.4.2
exceptiongroup==1.2.2
fastapi==0.112.2
ffmpy==0.4.0
filelock==3.15.4
fire==0.6.0
flash-attn==2.6.3
fonttools==4.53.1
frozenlist==1.4.1
fsspec==2024.6.1
gitdb==4.0.11
GitPython==3.1.43
gradio==4.42.0
gradio_client==1.3.0
h11==0.14.0
hjson==3.1.0
httpcore==1.0.5
httpx==0.27.2
huggingface-hub==0.24.5
idna==3.7
importlib_resources==6.4.4
jieba==0.42.1
Jinja2==3.1.4
joblib==1.4.2
jsonlines==4.0.0
kiwisolver==1.4.5
-e git+https://github.com/hiyouga/LLaMA-Factory.git@bee1bd43b946501690d70e4980205f9d82404296#egg=llamafactory
lm_eval==0.4.1
lxml==5.3.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
mbstrdecoder==1.1.3
mdurl==0.1.2
mpmath==1.3.0
multidict==6.0.5
multiprocess==0.70.16
networkx==3.3
ninja==1.11.1.1
nltk==3.8.1
numexpr==2.10.1
numpy==1.26.4
nvidia-cublas-cu11==11.11.3.6
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cudnn-cu11==9.1.0.70
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.3.0.86
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusparse-cu11==11.7.5.86
nvidia-ml-py==12.560.30
nvidia-nccl-cu11==2.20.5
nvidia-nvtx-cu11==11.8.86
orjson==3.10.7
packaging==24.1
pandas==2.2.2
pathvalidate==3.2.0
peft==0.12.0
pillow==10.4.0
platformdirs==4.2.2
portalocker==2.10.1
protobuf==5.27.3
psutil==6.0.0
py-cpuinfo==9.0.0
pyarrow==17.0.0
pybind11==2.13.4
pydantic==2.8.2
pydantic_core==2.20.1
pydub==0.25.1
Pygments==2.18.0
pyparsing==3.1.4
pytablewriter==1.2.0
python-dateutil==2.9.0.post0
python-multipart==0.0.9
pytz==2024.1
PyYAML==6.0.2
regex==2024.7.24
requests==2.32.3
rich==13.8.0
rouge-chinese==1.0.3
rouge_score==0.1.2
ruff==0.6.3
sacrebleu==2.4.2
safetensors==0.4.4
scikit-learn==1.5.1
scipy==1.14.0
semantic-version==2.10.0
sentencepiece==0.2.0
sentry-sdk==2.13.0
setproctitle==1.3.3
shellingham==1.5.4
shtab==1.7.1
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
sqlitedict==2.1.0
sse-starlette==2.1.3
stanza==1.8.2
starlette==0.38.2
sympy==1.13.2
tabledata==1.3.3
tabulate==0.9.0
tcolorpy==0.1.6
termcolor==2.4.0
threadpoolctl==3.5.0
tiktoken==0.7.0
tokenizers==0.19.1
toml==0.10.2
tomlkit==0.12.0
torch==2.4.0+cu118
tqdm==4.66.5
tqdm-multiprocess==0.0.11
transformers==4.44.0
triton==3.0.0
trl==0.9.6
typepy==1.3.2
typer==0.12.5
typing_extensions==4.12.2
tyro==0.8.10
tzdata==2024.1
urllib3==2.2.2
uvicorn==0.30.6
wandb==0.17.8
websockets==12.0
xxhash==3.5.0
yarl==1.9.4
zstandard==0.23.0
